@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Furkan ÇELİK</h1>
</div>

@*<div class="row">
    <h2>Kullanıcı hesapları ve rol tanımlamaları</h2>
</div>
<div class="row">
    <div class="xs-12">
        <img src="~/DersSecimiModel.png" class="img-fluid" />
    </div>
</div>
<div class="row">
    <div class="xs-12">
        <img src="~/AspNetUsers.png" class="img-fluid" />
    </div>
    </div>
<div class="row">
    <div class="xs-12">
        <img src="~/AspNetUserRoles.png" class="img-fluid" />
    </div>
</div>
    <div class="row">
        <div>
            <img src="~/AspNetRoles.png" class="img-fluid" />
        </div>
    </div>*@
